::-webkit-scrollbar {
    width: 2vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle
  ::-webkit-scrollbar-thumb {
    background: rgb(55, 139, 250);
    border-radius: 1vw;
  } */
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  @media screen and (min-width:500px) {
      ::-webkit-scrollbar {
          width: 0.5vw;
      }

      ::-webkit-scrollbar-thumb{
          border-radius: 0.25vw;
      }
  }
